@page "/game/{gameCode}";

@inject NavigationManager Navigation
@using Microsoft.AspNetCore.SignalR.Client
@using UI.Models
@using UI.Enums
@implements IAsyncDisposable

<PageTitle>TicTacGo Game</PageTitle>

<div class="bg-gradient-to-r from-violet-900 to-purple-900 h-screen pb-8 pt-40">
  <div class="flex justify-center gap-9 pb-6">
    @if (_host is not null)
    {
      <PlayerCard Player="@_host" ActiveMark="@_activeMark"/>
    }

    @if (_guest is not null)
    {
      <PlayerCard Player="@_guest" ActiveMark="@_activeMark"/>
    }
  </div>

  <GameGrid
    GridCells="@_gameBoard"
    ActiveMark="@_activeMark"
    OnClickFunction="@MakeMove"
    ActivePlayerClientConnectionId="@_activePlayerClientConnectionId"/>
</div>

@code {

  [Parameter]
  public string GameCode { get; set; } = "";

  private HubConnection? _hubConnection;
  private Marks[]? _gameBoard;
  private Player? _host;
  private Player? _guest;
  private Marks _activeMark;
  private readonly string _activePlayerClientConnectionId = string.Empty;

  protected override async Task OnInitializedAsync()
  {
    _hubConnection = new HubConnectionBuilder()
      .WithUrl(Navigation.ToAbsoluteUri($"/gamehub/{GameCode}"))
      .Build();

    _hubConnection.On<Models.Game>("RenderGame", game =>
    {
      _gameBoard = game.Board;
      _host = game.Host;

      if (game.Guest is not null)
      {
        _guest = game.Guest;
      }

      if (_host is not null && _host.HasTurn)
      {
        _activeMark = _host.Mark;
      }
      else if (_guest is not null && _guest.HasTurn)
      {
        _activeMark = _guest.Mark;
      }

      InvokeAsync(StateHasChanged);
    });

    await _hubConnection.StartAsync();
  }

  public bool IsConnected =>
    _hubConnection?.State == HubConnectionState.Connected;

  private async Task MakeMove(Move model)
  {
    if (CanMakeMove())
    {
      if (_hubConnection is not null)
      {
        if (_hubConnection.ConnectionId != null) model.ConnectionId = _hubConnection.ConnectionId;

        await _hubConnection.SendAsync("MakeMove", GameCode, model);
      }
    }
  }

  private bool CanMakeMove()
  {
    if (_host is null || _guest is null) return false;

    if (_host.HasTurn && _host.ConnectionId == _hubConnection?.ConnectionId)
    {
      return true;
    }

    return _guest.HasTurn && _guest.ConnectionId == _hubConnection?.ConnectionId;
  }

  public async ValueTask DisposeAsync()
  {
    if (_hubConnection is not null)
    {
      await _hubConnection.DisposeAsync();
    }
  }

}